body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}

main {
    margin: 0 1rem 4rem;
}

.myMoviesHeadline, .nowShowingHeadline, .popularHeadline {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    font-weight: 900;
}

.myMoviesHeadline {
    text-align: center;
}

.nowShowingHeadlineWrapper, .popularHeadlineWrapper {
    display: flex;
    justify-content: space-between;
}

.seeMoreButton {
    background-color: transparent;
    font-size: 0.6rem;
    color: #AAA9B1;
    border: 2px solid #AAA9B1;
    border-radius: 100px;
    height: 1.3rem;
    align-self: center;
}

.nowShowingWrapper {
    display: flex;
    overflow-x: scroll;
}

.nowShowing, .popular {
    padding: 1rem 2rem 1rem 0;
    text-decoration: none;
    color: black;
}

.posters, .popularImages {
    border-radius: 3%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
}

.posters {
    width: 8.9rem;
}

.nowShowingTitles, .popularTitles {
    font-size: .8rem;
    font-weight: 700;
}

.ratings {
    font-size: 0.75rem;
}

.fa-star {
    color: #FFC319;
}

.popular {
    display: flex;
}

.popularInfoWrapper {
    margin-left: 1rem;
}

.popularImages {
    width: 5.3rem;
}

.genreSpan {
    display: inline-block;
    background-color: #DBE3FF;
    color: #88A4E8;
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: 700;
    border: 2px solid #DBE3FF;
    border-radius: 100px;
    margin-right: 0.5rem;
    padding: .1rem .5rem;
}

.footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 3.75rem;
    background-color: white;
    width: 100%;
    margin: 0;
    color: black;
}

.iconWrapper {
    display: flex;
    justify-content: space-between;
}

.icon {
    height: 5rem;
}

.fa-film, .fa-ticket, .fa-bookmark {
    color: #BCBCCD;
    font-size: 1.5rem;
    margin-top: 1rem;
}