body {
    font-family: 'Mulish', sans-serif;
    margin: 1.5rem;
}

.myMoviesHeadline, .nowShowingHeadline {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    font-weight: 900;
}

.myMoviesHeadline {
    text-align: center;
}

.nowShowingHeadlineWrapper {
    display: flex;
    justify-content: space-between;
}

.seeMoreButton {
    background-color: transparent;
    color: #AAA9B1;
    border: 2px solid #AAA9B1;
    border-radius: 100px;
    height: 1.3rem;
    align-self: center;
}

.nowShowingWrapper {
    display: flex;
    overflow-x: scroll;
}

.nowShowing {
    padding: 1rem 2rem 1rem 0;
    text-decoration: none;
    color: black;
}

.posters {
    width: 8.9rem;
    border-radius: 3%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
}

.nowShowingTitles {
    font-size: 0.875rem;
}

.nowShowingMovieRatings {
    font-size: 0.75rem;
}

.fa-star {
    color: #FFC319;
}